.env
data_out/CVSSData.csv.gz
nvd/nvdcve*
nvd/nvdcve-1.1-2021.json
nvd/nvdcve-1.1-2021.json.zip
nvd/nvdcve-1.1-2022.json
nvd/nvdcve-1.1-2022.json.zip
nvd/CVSSData*
top25/ 
data_out/CVSSData.csv.gz
tmp/
nvd/jsondata
data_out/CVSSData.csv.gz
